/* just a sample css rule to show that everything works */
footer p
{
	font-size: small;
	text-align: center;
}

header{
	text-align: center;
}

header img{
	max-width: 100%;
	height: auto;
}

#pictos{
	position:absolute;
	right:3%;
	top : 15%;
}
#map { 
	padding-top : 25px;
	height: 550px;
	width: 800px;
	margin-right:2%;
	float: left;
}
#filtres {
	padding-top : 2px;
	max-width : 200px;
	padding-left : 50px;
}
#disclaimer {
	padding-left : 50px;
	padding-top : 1%;
	color:white;
	font-family: "Verdana";
}
#filtres a {
	font-size: 13px;
	color: white;
	display: block;
	margin: 0;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-align: center;
}

#filtres a:last-child {
	border: none;
}

#filtres a:hover {
	background-color: #138496;
	color: white;
}

#filtres a.active {
	background-color: #17a2b8;
	color: #ffffff;
}

#filtres a.active:hover {
	background: #138496;
}

#depeche {
	visibility:hidden;
	background-color: white;
	position:absolute;
	width : 85%;
	height : 95%;
	z-index: 1000;
}
#titre_depeche{
	max-width : 70%;
	font-family:"Times New Roman";
}
#corps_depeche{
	max-width : 60%;
	font-family:"Times New Roman";

}
#hideButton{
	margin-left:45%;
}
.logo .hover
{
	transition: .5s ease;
	height:20%;
	width:20%;
}
.mapboxgl-ctrl-logo
{
	visibility:hidden;
}
.mapboxgl-popup-content{
	visibility:visible;
}