/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}
body{
    width:100%;
    height:100%;
}
*{
    margin:0;
    padding:0;
}
