/* just a sample css rule to show that everything works */
footer p
{
	font-size: small;
	text-align: center;
}

header{
	text-align: center;
}

header img{
	max-width: 100%;
	height: auto;
}
#map { 
	padding-top : 25px;
	height: 500px;
	width: 900px;
	margin-right:2%;
	float: left;
}
#filtres {
	padding-top : 25px;
	max-width : 27%;
}
#filtres a {
	font-size: 13px;
	color: #404040;
	display: block;
	margin: 0;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-align: center;
}

#filtres a:last-child {
	border: none;
}

#filtres a:hover {
	background-color: #f8f8f8;
	color: #404040;
}

#filtres a.active {
	background-color: #17a2b8;
	color: #ffffff;
}

#filtres a.active:hover {
	background: #138496;
}

#depeche {
	visibility:hidden;
	background-color: white;
	position:absolute;
	width : 95%;
	height : 95%;
	z-index: 1000;
}
#titre_depeche{
	max-width : 70%;
}
#corps_depeche{
	max-width : 60%;

}
#hideButton{
	margin-left:45%;
}
.logo .hover
{
	transition: .5s ease;
	height:20%;
	width:20%;
}
.mapboxgl-ctrl-logo
{
	visibility:hidden;
}
.mapboxgl-popup-content{
	visibility:visible;
}